<!--video + slider-->
<div class="slider">

    <div><!--row-->

        <div class="slide slide-1 video active">                        
            <h3 class="title">Polina Sample Video</h3>
            <p class="description">filmed by Alexander Wagner 2011</p>
            <a href="#" class="link">#mp4video</a>

            <video width="100%" height="auto" autoplay loop>
              <source src="video/polina.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="overlay"></div>
        </div>

        <div class="slide slide-2">                        
            <h3 class="title">Title. Big title. Dreaming</h3>
            <p class="description">Change your life</p>
            <a href="#" class="link">#whereyouwantogo</a>
            <img src="images/slider/ezio_photography_bg_11.jpg" alt="" class="img" >
            <div class="overlay"></div>
        </div>                  

    </div>

    <button class="btn prev"><i>Prev</i></button>
    <button class="btn next"><i>Next</i></button>

</div>