<div class="row">
    <h2>Infinity scroll</h2>
    <p class="lead">Nam et lacus sed sem condimentum gravida non sit amet lorem. Etiam congue ante eget sem mattis, nec venenatis lorem porttitor.</p>
</div>

<!--thumbnails / infinity scroll-->
<div class="row">
    <div class="photos thumbnails infinity">  


        <div class="col-lg-4">                    
            <div class="img-thumb">
                <a href="#"><span class="title">Alternative Living</span></a>
                <img src="images/sample/Alternative-Living_STROHL_07.jpg" alt="" class="img" >

            </div>                      
        </div>

        <div class="col-lg-4">                    
            <div class="img-thumb">
                <a href="#"><span class="title">Alternative Living</span></a>
                <img src="images/sample/Alternative-Living_STROHL_17.jpg" alt="" class="img" >
            </div>                      
        </div>

        <div class="col-lg-4">                    
            <div class="img-thumb">
                <a href="#"><span class="title">Alternative Living</span></a>
                <img src="images/sample/Alternative-Living_STROHL_24.jpg" alt="" class="img" >
            </div>                    
        </div>

        <div class="col-lg-4">                    
            <div class="img-thumb">
                <a href="#"><span class="title">Alternative Living</span></a>
                <img src="images/sample/Alternative-Living_STROHL_27.jpg" alt="" class="img" >
            </div>                       
        </div>

        <button class="btn btn-more">Load more</button>

    </div>
</div>
<!--/.thumbnails / infinity scroll-->