<!--slider-->
<div class="row fullwidth">
    <div class="photos slider">    

        <div><!--row-->
            <div class="slide slide-1 active">                        
                <h3 class="title">Title. Big title. Dreaming</h3>
                <p class="description">Change your life</p>
                <a href="#" class="link">#whereyouwantogo</a>
                <img src="images/slider/ezio_photography_bg_11.jpg" alt="" class="img" >
            </div>

            <div class="slide slide-2">                        
                <h3 class="title">Going home</h3>
                <p class="description">Plan your next trip</p>
                <a href="#" class="link">#discover</a>
                <img src="images/slider/ezio_photography_bg_12.jpg" alt="" class="img" >
            </div>

            <div class="slide slide-3">                        
                <h3 class="title">Nothing is impossible </h3>
                <p class="description">Open your mind</p>
                <a href="#" class="link">#photography</a>
                <img src="images/slider/ezio_photography_bg_24.jpg" alt="" class="img" >
            </div>

        </div>

        <button class="btn prev"><i>Prev</i></button>
        <button class="btn next"><i>Next</i></button>
    </div>
</div>
<!--/.slider-->

<div class="row">
    <h2>Simple slider</h2>
    <p class="lead">Nam et lacus sed sem condimentum gravida non sit amet lorem. Etiam congue ante eget sem mattis, nec venenatis lorem porttitor. Vestibulum tincidunt felis lectus, sit amet scelerisque diam ullamcorper vitae. Donec sed varius ante.</p>
</div>