<div class="row">
    <h2>Thumbnails</h2>
    <p class="lead">Nam et lacus sed sem condimentum gravida non sit amet lorem. Etiam congue ante eget sem mattis, nec venenatis lorem porttitor. Vestibulum tincidunt felis lectus, sit amet scelerisque diam ullamcorper vitae. Donec sed varius ante.</p>
</div>

<!--thumbnails-->
<div class="row">
    <div class="photos thumbnails">

    <div class="col-lg-4">                    
        <div class="img-thumb">
            <a href="#"><span class="title">Alternative Living</span></a>
            <img src="images/sample/Alternative-Living_STROHL_07.jpg" alt="" class="img" >

        </div>                      
    </div>

    <div class="col-lg-4">                    
        <div class="img-thumb">
            <a href="#"><span class="title">Alternative Living</span></a>
            <img src="images/sample/Alternative-Living_STROHL_13.jpg" alt="" class="img" >
        </div>                      
    </div>

    <div class="col-lg-4">                    
        <div class="img-thumb">
            <a href="#"><span class="title">Alternative Living</span></a>
            <img src="images/sample/Alternative-Living_STROHL_17.jpg" alt="" class="img" >
        </div>                      
    </div>

    <div class="col-lg-4">                    
        <div class="img-thumb">
            <a href="#"><span class="title">Alternative Living</span></a>
            <img src="images/sample/Alternative-Living_STROHL_24.jpg" alt="" class="img" >
        </div>                    
    </div>

    <div class="col-lg-4">                    
        <div class="img-thumb">
            <a href="#"><span class="title">Alternative Living</span></a>
            <img src="images/sample/Alternative-Living_STROHL_27.jpg" alt="" class="img" >
        </div>                       
    </div>

</div>
</div>
<!--/.thumbnails-->